/* 
    Document   : style
    Created on : 31.5.2012, 14:32:02
    Author     : Orbis
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.logo:link, .logo:visited {text-decoration: none; color: white;}

.header{
    padding-top:1px;
    height: 160px;
    background-color: #00AEED;
    border-radius: 10px;
}
.logo_design{
    margin-left: 250px;
    font-family: serif;
    font-size: 40px;
    color: white;
}

.menu_odkaz:link, .menu_odkaz:visited {text-decoration: none; color: white;}
.menu_odkaz:hover{color: silver;}

.mail:link, .mail:visited {text-decoration: none; color: black;}
.mail:hover{color: silver;}

.blok{
    width: 256px;
    height: 279px;
    float: left;
    padding: 1px;
    border: 1px solid gainsboro;
    margin: 2px;
    border-radius: 10px;
}
.menu { 
        margin-left: 3px;
        height: 20px;
        width: 150px;
        padding: 3px;   
        background:#00AEED;
        border:1px solid #2D73B9;
        text-align: center;        
        border-radius: 10px;                     
}
.menu_font {   
    font-family: sans-serif;
    font-size: 20px;   
    padding: 20px;        
}
table.sample {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
        margin: 2px;       
}
table.sample th {
	border-width: 1px;
	padding: 4px;
	border-style: inset;
	border-color: gray;
	background-color: white;	
}
table.sample td {
	border-width: 1px;
	padding: 4px;
	border-style: inset;
	border-color: gray;
	background-color: white;	
}